
.money-input{
    border: none;
    user-select: none;
    outline: none;
    cursor: not-allowed;
}

.form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    form{
        width: 25%;
    }

    hr{
        width: 80%;
        height: 1px;
        margin: 10px 0;
    }

    button{
        width: 25%;
        padding: 8px;
        font-size: 20px;
        border-radius: 10px;
    }
}

span{
    font-size: 20px;
}

.submit{
    margin-top: 10px;
}

.money-input{
    border: none !important;
    user-select: none !important;
    outline: none !important;
    cursor: not-allowed !important;
}

.form-field{
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;

    input {
        padding: 8px;
        font-size: 18px;
        border: 1px solid gray;
        border-radius: 5px;
    }

    select {
        // width: 100%;
        font-size: 18px;
        padding: 8px;
    }
}