.header2 {
    text-align: center;
    margin-bottom: 50px;
}

.header1 {
    text-align: center; 
    margin-top: 0px; 
    font-size: 35px;
}

.btn-option{
    height: 35px; 
    margin-bottom: 15px; 
    width: 200px; 
    font-size: 20px; 
    font-weight: bold;
}

.text-center{
    text-align: center;
}