.text-center{
    text-align: center;
}

input{
    font-size: 25px;
}

span{
    font-size: 20px;
}

button{
    height: 25px; 
    width: 200px; 
    font-size: 20px; 
    font-weight: bold;
}

.submit{
    margin-top: 10px;
}