<section>
  <h1 style="text-align: center; margin-top: 0px; font-size: 35px;">
  ACME Corporation Payment Manager
  </h1>
  
  <h2 style="text-align: center; margin-bottom: 50px;">
    Please fill in form to continue:
  </h2>
</section>
<div class="form-container">
  <hr>
  <form [formGroup]="cryptoForm" name="cryptoForm" id="cryptoForm" (ngSubmit)="formData()">
      <div class="form-field">
        <div>
          <span id="priceAmount">Amount</span>
        </div>
        <input class="money-input" type="number" formControlName="priceAmount" readonly aria-label="PriceAmount" min="0">
      </div>
      <div class="form-field">
        <div>
          <span id="priceCurrency">Price Currency</span>
        </div>
        <select (change)="changeCurrency($event)" formControlName="priceCurrency">
          <option value="" disabled>Choose one option</option>
          <option value="EUR">EUR</option>
          <option value="USD">USD</option>
       </select>
      </div>
      <div class="form-field">
        <div>
          <span id="receiveCurrency">Recieve Currency</span>
        </div>
        <select (change)="changeCurrency($event)" formControlName="receiveCurrency">
          <option value="" disabled>Choose one option</option>
          <option value="EUR">EUR</option>
          <option value="USD">USD</option>
       </select>
      </div>
      <div class="form-field">
        <div>
          <span id="description">Description</span>
        </div>
        <input class="money-input" type="text" formControlName="description" aria-label="Description" readonly>
      </div>
      <div class="form-field">
        <div>
          <span id="title">Title</span>
        </div>
        <input class="money-input" type="text" formControlName="title" aria-label="Title" readonly>
      </div>
    </form>
    <hr>
    <button class="submit" form="cryptoForm" type="submit">Submit</button>
  </div>