<section>
<h2 style="text-align: center; margin-bottom: 50px;">
  Please fill in form to continue:
</h2>
</section>
<div class="form-container" *ngIf="showForm">
  <hr>
<form [formGroup]="serviceForm" name="paymentServiceForm" id="paymentServiceForm" (ngSubmit)="formData()">
    <div class="form-field">
      <div>
        <span id="name">Name</span>
      </div>
      <input type="text" formControlName="name" aria-label="Name">
    </div>
    <div class="form-field">
      <div>
        <span id="url">Service Address</span>
      </div>
      <input type="text" formControlName="url" aria-label="Url">
    </div>
    <div class="form-field">
      <div>
        <span id="description">Description</span>
      </div>
      <input type="text" formControlName="description" aria-label="Description">
    </div>
    <div class="form-field">
      <div>
        <span id="isPassTrough">Is Pass Trough:</span>
      </div>
      <select (change)="changeIsPassThrough($event)" formControlName="isPassTrough">
        <option value="" disabled>Choose one option</option>
        <option value="True">True</option>
        <option value="True">False</option>
     </select>
    </div>
    <div class="form-field">
      <div>
        <span id="webStores">Web Stores:</span>
      </div>
      <select multiple formControlName="webStores">
        <option *ngFor="let webStore of webStores" [ngValue]="webStore.id" (change)="changeSelection($event)">{{webStore.storeName}}</option>
     </select>
    </div>
  </form>
  <hr>
  <button class="submit" form="paymentServiceForm" type="submit">Submit</button>
</div>